<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.EntryName}}</title>
    <link rel="stylesheet" href="{{.CSS}}">
    <link rel="icon" href="{{.Icon}}" type="image/png">
</head>
<body>
    <p><a href="{{.TopicURL}}">{{.TopicName}}</a></p>
    <h1>{{.EntryName}}</h1>
    {{if .Tags}}
    <ul class="archive-nav archive-tags">
        {{range .Tags}}
        <li><a href="{{.URL}}">{{.Name}}</a></li>
        {{end}}
    </ul>
    {{end}}

    <main>
        {{.ContentHTML}}
    </main>

    <p><a href="{{.NextURL}}">{{.NextLabel}}</a></p>
</body>
</html>
